In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('data/ncaab.db')
# conn = sqlite3.connect('ncaab.db')
df = pd.read_sql_query("SELECT * FROM games", conn)
conn.close()

In [3]:
df.sort_values(by='date')

,id,uid,season_year,season_type,week,game_note,timeValid,date,is_neutral_site,is_conference_competition,...,away_team_location,away_team_name,away_team_abbreviation,away_team_nickname,away_team_displayName,away_team_color,away_team_alternate_color,away_team_logos,away_team_conference_id,away_team_conference_slug
44996,213350251,s:40~l:41~e:213350251,2002,2,4.0,None,0,2001-12-01T17:00Z,0,0,...,Stanford,Cardinal,STAN,Stanford,Stanford Cardinal,None,ffffff,"[{""href"": ""https://a.espncdn.com/i/teamlogos/n...",21,pac-12-conference
50094,213350314,s:40~l:41~e:213350314,2002,2,4.0,None,0,2001-12-01T17:00Z,0,0,...,Hofstra,Pride,HOF,Hofstra,Hofstra Pride,None,ffc72c,"[{""href"": ""https://a.espncdn.com/i/teamlogos/n...",10,coastal-athletic-association
51903,213350097,s:40~l:41~e:213350097,2002,2,4.0,None,0,2001-12-01T18:00Z,0,0,...,Tennessee State,Tigers,TNST,Tennessee St,Tennessee State Tigers,None,f0f0f0,"[{""href"": ""https://a.espncdn.com/i/teamlogos/n...",20,ohio-valley-conference
45412,213352084,s:40~l:41~e:213352084,2002,2,4.0,None,0,2001-12-01T18:00Z,0,0,...,New Hampshire,Wildcats,UNH,New Hampshire,New Hampshire Wildcats,None,c3c4c6,"[{""href"": ""https://a.espncdn.com/i/teamlogos/n...",1,america-east-conference
39852,213350189,s:40~l:41~e:213350189,2002,2,4.0,None,0,2001-12-01T18:00Z,0,0,...,Marist,Red Foxes,MRST,Marist,Marist Red Foxes,None,f0f0f0,"[{""href"": ""https://a.espncdn.com/i/teamlogos/n...",13,metro-atlantic-athletic-conference
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59623,401808189,s:40~l:41~e:401808189,2026,2,12.0,None,1,2026-01-21T00:00Z,0,1,...,LSU,Tigers,LSU,LSU,LSU Tigers,461d76,fdd023,"[{""href"": ""https://a.espncdn.com/i/teamlogos/n...",23,southeastern-conference
59479,401820686,s:40~l:41~e:401820686,2026,2,12.0,None,1,2026-01-21T00:00Z,0,1,...,Florida State,Seminoles,FSU,Florida St,Florida State Seminoles,782f40,ceb888,"[{""href"": ""https://a.espncdn.com/i/teamlogos/n...",2,atlantic-coast-conference
59624,401828383,s:40~l:41~e:401828383,2026,2,12.0,None,1,2026-01-21T00:00Z,0,1,...,Loyola Chicago,Ramblers,LUC,Loyola Chicago,Loyola Chicago Ramblers,9d1244,None,"[{""href"": ""https://a.espncdn.com/i/teamlogos/n...",3,atlantic-10-conference
59575,401808191,s:40~l:41~e:401808191,2026,2,12.0,None,1,2026-01-21T00:00Z,0,1,...,Oklahoma,Sooners,OU,Oklahoma,Oklahoma Sooners,990000,ffffff,"[{""href"": ""https://a.espncdn.com/i/teamlogos/n...",23,southeastern-conference
59988,401825456,s:40~l:41~e:401825456,2026,2,12.0,None,1,2026-01-21T00:00Z,0,1,...,Indiana,Hoosiers,IU,Indiana,Indiana Hoosiers,970310,ffffff,"[{""href"": ""https://a.espncdn.com/i/teamlogos/n...",7,big-ten-conference

In [4]:
import sqlite3

def view_database_schema(db_file):
    """Connects to an SQLite database and prints the schema of all tables."""
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        cursor = conn.cursor()

        # Query the sqlite_master (or sqlite_schema) table to get all table names
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        tables = cursor.fetchall()

        if not tables:
            print(f"No tables found in the database: {db_file}")
            return

        print(f"--- Schema for database: {db_file} ---")

        # Iterate over each table and print its schema
        for table_name_tuple in tables:
            table_name = table_name_tuple[0]
            print(f"\n*** Table: {table_name} ***")
            # Query sqlite_master again to get the CREATE TABLE SQL statement
            cursor.execute("SELECT sql FROM sqlite_master WHERE name=?", (table_name,))
            create_sql = cursor.fetchone()[0]
            print(create_sql)

    except sqlite3.Error as e:
        print(f"An error occurred: {e}")
    finally:
        if conn:
            conn.close()

# Specify your database file name
database_file = 'data/ncaab.db'
view_database_schema(database_file)

--- Schema for database: data/ncaab.db ---

*** Table: seasons ***
CREATE TABLE seasons (
            year INTEGER PRIMARY KEY,
            startDate TEXT,
            endDate TEXT,
            displayName TEXT
        )

*** Table: season_types ***
CREATE TABLE season_types (
            season_id TEXT PRIMARY KEY,
            year INTEGER,
            type_id INTEGER,
            name TEXT,
            startDate TEXT,
            endDate TEXT,
            FOREIGN KEY (year) REFERENCES seasons(year)
        )

*** Table: teams ***
CREATE TABLE teams (
            id TEXT PRIMARY KEY,
            uid TEXT,
            slug TEXT,
            abbreviation TEXT,
            displayName TEXT,
            name TEXT,
            nickname TEXT,
            location TEXT,
            color TEXT,
            alternateColor TEXT,
            logos TEXT
        )

*** Table: conferences ***
CREATE TABLE conferences (
            season_id TEXT PRIMARY KEY,
            id TEXT,
            season TEXT,
            name TEXT,
            abbreviation TEXT,
            shortName TEXT,
            midsizeName TEXT,
            logos TEXT,
            slug TEXT,
            parent TEXT,
            has_children INTEGER,
            FOREIGN KEY (season) REFERENCES seasons(year)
        )

*** Table: team_seasons ***
CREATE TABLE team_seasons (
            season_conf_team TEXT PRIMARY KEY,
            season TEXT,
            conference_id TEXT,
            team_id TEXT,
            guid TEXT,
            uid TEXT,
            slug TEXT,
            location TEXT,
            name TEXT,
            abbreviation TEXT,
            displayName TEXT,
            shortDisplayName TEXT,
            color TEXT,
            alternateColor TEXT,
            logos TEXT,
            venue_id TEXT,
            FOREIGN KEY (season) REFERENCES seasons(year),
            FOREIGN KEY (team_id) REFERENCES teams(id)
        )

*** Table: players ***
CREATE TABLE players (
            id TEXT PRIMARY KEY,
            uid TEXT,
            guid TEXT,
            firstName TEXT,
            lastName TEXT,
            displayName TEXT,
            shortName TEXT,
            weight REAL,
            displayWeight TEXT,
            height REAL,
            displayHeight TEXT,
            birthPlace_city TEXT,
            birthPlace_state TEXT,
            birthPlace_country TEXT,
            experience_years INTEGER,
            experience_displayValue TEXT,
            experience_abbreviation TEXT,
            jersey TEXT,
            hand_type TEXT,
            hand_abbreviation TEXT,
            hand_displayValue TEXT
        )

*** Table: player_seasons ***
CREATE TABLE player_seasons (
            season_player_id TEXT PRIMARY KEY,
            season TEXT,
            player_id TEXT,
            uid TEXT,
            guid TEXT,
            firstName TEXT,
            lastName TEXT,
            fullName TEXT,
            displayName TEXT,
            shortName TEXT,
            weight REAL,
            displayWeight TEXT,
            height REAL,
            displayHeight TEXT,
            birthPlace_city TEXT,
            birthPlace_state TEXT,
            birthPlace_country TEXT,
            slug TEXT,
            headshot TEXT,
            jersey TEXT,
            hand_type TEXT,
            hand_abbreviation TEXT,
            hand_displayValue TEXT,
            flag_href TEXT,
            position_id TEXT,
            position_name TEXT,
            position_abbreviation TEXT,
            position_displayValue TEXT,
            team_id TEXT,
            experience_years INTEGER,
            experience_displayValue TEXT,
            experience_abbreviation TEXT,
            FOREIGN KEY (season) REFERENCES seasons(year),
            FOREIGN KEY (player_id) REFERENCES players(id),
            FOREIGN KEY (team_id) REFERENCES teams(id)
        )

*** Table: coaches ***
CREATE TABLE coaches (
            season_id TEXT PRIMARY KEY,
            season TEXT,
            team_id TEXT,
            firstName TEXT,
            lastName TEXT,
            FOREIGN KEY (season) REFERENCES seasons(year),
            FOREIGN KEY (team_id) REFERENCES teams(id)
        )

*** Table: rankings ***
CREATE TABLE rankings (
            season_week_team TEXT PRIMARY KEY,
            season TEXT,
            week INTEGER,
            team_id TEXT,
            week_displayValue TEXT,
            headline TEXT,
            short_headline TEXT,
            season_displayName TEXT,
            ranking_provider_id TEXT,
            ranking_provider_name TEXT,
            ranking_provider_type TEXT,
            current_rank INTEGER,
            previous_rank INTEGER,
            first_place_votes INTEGER,
            points REAL,
            trend TEXT,
            record_summary TEXT,
            record_wins INTEGER,
            record_losses INTEGER,
            record_ties INTEGER,
            ranked_type TEXT,
            FOREIGN KEY (season) REFERENCES seasons(year),
            FOREIGN KEY (team_id) REFERENCES teams(id)
        )

*** Table: games ***
CREATE TABLE games (
            id TEXT PRIMARY KEY,
            uid TEXT,
            season_year INTEGER,
            season_type INTEGER,
            week INTEGER,
            game_note TEXT,
            timeValid INTEGER,
            date TEXT,
            is_neutral_site INTEGER,
            is_conference_competition INTEGER,
            event_status_id TEXT,
            event_status_name TEXT,
            event_status_state TEXT,
            event_status_completed INTEGER,
            event_status_description TEXT,
            event_status_detail TEXT,
            event_status_short_detail TEXT,
            event_tournament_id TEXT,
            venue_id TEXT,
            attendance INTEGER,
            officials TEXT,
            home_team_id TEXT,
            home_team_winner INTEGER,
            home_team_score INTEGER,
            home_linescores TEXT,
            home_team_records TEXT,
            home_team_guid TEXT,
            home_team_uid TEXT,
            home_team_location TEXT,
            home_team_name TEXT,
            home_team_abbreviation TEXT,
            home_team_nickname TEXT,
            home_team_displayName TEXT,
            home_team_color TEXT,
            home_team_alternate_color TEXT,
            home_team_logos TEXT,
            home_team_conference_id TEXT,
            home_team_conference_slug TEXT,
            away_team_id TEXT,
            away_team_winner INTEGER,
            away_team_score INTEGER,
            away_linescores TEXT,
            away_team_records TEXT,
            away_team_guid TEXT,
            away_team_uid TEXT,
            away_team_location TEXT,
            away_team_name TEXT,
            away_team_abbreviation TEXT,
            away_team_nickname TEXT,
            away_team_displayName TEXT,
            away_team_color TEXT,
            away_team_alternate_color TEXT,
            away_team_logos TEXT,
            away_team_conference_id TEXT,
            away_team_conference_slug TEXT,
            FOREIGN KEY (season_year) REFERENCES seasons(year),
            FOREIGN KEY (home_team_id) REFERENCES teams(id),
            FOREIGN KEY (away_team_id) REFERENCES teams(id)
        )

*** Table: team_boxscores ***
CREATE TABLE team_boxscores (
            event_team_id TEXT PRIMARY KEY,
            event_id TEXT,
            team_id TEXT,
            home_away TEXT,
            fieldGoalsMade TEXT,
            fieldGoalsAttempted TEXT,
            fieldGoalPct TEXT,
            threePointFieldGoalsMade TEXT,
            threePointFieldGoalsAttempted TEXT,
            threePointFieldGoalPct TEXT,
            freeThrowsMade TEXT,
            freeThrowsAttempted TEXT,
            freeThrowPct TEXT,
            totalRebounds TEXT,
            offensiveRebounds TEXT,
            defensiveRebounds TEXT,
            assists TEXT,
            steals TEXT,
            blocks TEXT,
            turnovers TEXT,
            teamTurnovers TEXT,
            totalTurnovers TEXT,
            technicalFouls TEXT,
            flagrantFouls TEXT,
            fouls TEXT,
            largestLead TEXT,
            FOREIGN KEY (event_id) REFERENCES games(id),
            FOREIGN KEY (team_id) REFERENCES teams(id)
        )

*** Table: player_boxscores ***
CREATE TABLE player_boxscores (
            event_athlete_id TEXT PRIMARY KEY,
            event_id TEXT,
            athlete_id TEXT,
            team_id TEXT,
            athlete_name TEXT,
            athlete_headshot TEXT,
            athlete_jersey TEXT,
            athlete_position_name TEXT,
            athlete_position_abbreviation TEXT,
            athlete_position_display_name TEXT,
            athlete_starter INTEGER,
            athlete_did_not_play INTEGER,
            athlete_ejected INTEGER,
            MIN TEXT,
            FG TEXT,
            "3PT" TEXT,
            FT TEXT,
            OREB TEXT,
            DREB TEXT,
            REB TEXT,
            AST TEXT,
            STL TEXT,
            BLK TEXT,
            "TO" TEXT,
            PF TEXT,
            PTS TEXT,
            FOREIGN KEY (event_id) REFERENCES games(id),
            FOREIGN KEY (athlete_id) REFERENCES players(id),
            FOREIGN KEY (team_id) REFERENCES teams(id)
        )

*** Table: predictions ***
CREATE TABLE predictions (
            event_id TEXT PRIMARY KEY,
            name TEXT,
            short_name TEXT,
            homeTeam_team_id TEXT,
            homeTeam_gameProjection REAL,
            homeTeam_gameProjection_display TEXT,
            homeTeam_teamChanceLoss REAL,
            homeTeam_teamChanceLoss_display TEXT,
            awayTeam_team_id TEXT,
            awayTeam_gameProjection REAL,
            awayTeam_gameProjection_display TEXT,
            awayTeam_teamChanceLoss REAL,
            awayTeam_teamChanceLoss_display TEXT,
            FOREIGN KEY (event_id) REFERENCES games(id),
            FOREIGN KEY (homeTeam_team_id) REFERENCES teams(id),
            FOREIGN KEY (awayTeam_team_id) REFERENCES teams(id)
        )

*** Table: odds ***
CREATE TABLE odds (
            event_provider_id TEXT PRIMARY KEY,
            event_id TEXT,
            provider_id TEXT,
            provider_name TEXT,
            details TEXT,
            over_under REAL,
            spread REAL,
            over_odds INTEGER,
            under_odds INTEGER,
            away_team_favorite INTEGER,
            away_team_underdog INTEGER,
            away_team_moneyline INTEGER,
            away_team_spread_odds INTEGER,
            away_team_spread TEXT,
            away_team_id TEXT,
            home_team_favorite INTEGER,
            home_team_underdog INTEGER,
            home_team_moneyline INTEGER,
            home_team_spread_odds INTEGER,
            home_team_spread TEXT,
            home_team_id TEXT,
            FOREIGN KEY (event_id) REFERENCES games(id),
            FOREIGN KEY (away_team_id) REFERENCES teams(id),
            FOREIGN KEY (home_team_id) REFERENCES teams(id)
        )

*** Table: update_log ***
CREATE TABLE update_log (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            timestamp TEXT DEFAULT CURRENT_TIMESTAMP,
            table_name TEXT,
            operation TEXT,
            records_added INTEGER,
            records_updated INTEGER,
            api_calls INTEGER,
            duration_seconds REAL,
            error_count INTEGER
        )

*** Table: sqlite_sequence ***
CREATE TABLE sqlite_sequence(name,seq)

In [6]:
import pandas as pd
import sqlite3

def load_db_table_to_dataframe(db_file, table_name):
    """
    Connects to an SQLite database and loads a specified table into a pandas DataFrame.
    """
    conn = None
    try:
        # Establish a connection to the SQLite database
        conn = sqlite3.connect(db_file)
        print(f"Connection established to {db_file}")

        # Construct the SQL query to select all data from the table
        sql_query = f"SELECT * FROM {table_name}"

        # Use pandas to read the SQL query results directly into a DataFrame
        df = pd.read_sql_query(sql_query, conn)
        
        print(f"Successfully loaded '{table_name}' into a DataFrame.")
        print(f"DataFrame shape: {df.shape}")
        
        return df

    except sqlite3.Error as e:
        print(f"An error occurred: {e}")
        return None
    finally:
        # Ensure the connection is closed
        if conn:
            conn.close()
            print("Database connection closed.")

# --- Example Usage ---

# Assume you have a table named 'teams' in your ncaab.db
database_file = 'data/ncaab.db'
table_to_load = 'player_boxscores' # Replace 'teams' with the actual name of your table

# Assign the table data to a pandas variable
teams_df = load_db_table_to_dataframe(database_file, table_to_load)

# You can now work with the pandas DataFrame
if teams_df is not None:
    print("\nFirst 5 rows of the DataFrame:")
    print(teams_df.head())

    print("\nDataFrame columns and data types:")
    print(teams_df.info())

Connection established to data/ncaab.db
Successfully loaded 'player_boxscores' into a DataFrame.
DataFrame shape: (1752857, 26)
Database connection closed.

First 5 rows of the DataFrame:
  event_athlete_id   event_id athlete_id team_id     athlete_name  \
0  230210107_11403  230210107      11403     159      Jason Meyer
1  230210107_11401  230210107      11401     159  Patrick Cuttica
2  230210107_11400  230210107      11400     159    Calvin Arnold
3   230210107_6012  230210107       6012     159    Brandon Smith
4   230210107_1473  230210107       1473     159      Tyler Davis

  athlete_headshot athlete_jersey athlete_position_name  \
0             None           None               Forward
1             None           None               Forward
2             None           None               Forward
3             None           None               Forward
4             None           None               Forward

  athlete_position_abbreviation athlete_position_display_name  ...    FT  \
0                             F                       Forward  ...  None
1                             F                       Forward  ...  None
2                             F                       Forward  ...  None
3                             F                       Forward  ...  None
4                             F                       Forward  ...  None

   OREB  DREB   REB   AST   STL   BLK    TO    PF   PTS
0  None  None  None  None  None  None  None  None  None
1  None  None  None  None  None  None  None  None  None
2  None  None  None  None  None  None  None  None  None
3  None  None  None  None  None  None  None  None  None
4  None  None  None  None  None  None  None  None  None

[5 rows x 26 columns]

DataFrame columns and data types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1752857 entries, 0 to 1752856
Data columns (total 26 columns):
 #   Column                         Dtype
---  ------                         -----
 0   event_athlete_id               object
 1   event_id                       object
 2   athlete_id                     object
 3   team_id                        object
 4   athlete_name                   object
 5   athlete_headshot               object
 6   athlete_jersey                 object
 7   athlete_position_name          object
 8   athlete_position_abbreviation  object
 9   athlete_position_display_name  object
 10  athlete_starter                int64
 11  athlete_did_not_play           int64
 12  athlete_ejected                int64
 13  MIN                            object
 14  FG                             object
 15  3PT                            object
 16  FT                             object
 17  OREB                           object
 18  DREB                           object
 19  REB                            object
 20  AST                            object
 21  STL                            object
 22  BLK                            object
 23  TO                             object
 24  PF                             object
 25  PTS                            object
dtypes: int64(3), object(23)
memory usage: 347.7+ MB
None

In [7]:
teams_df

,event_athlete_id,event_id,athlete_id,team_id,athlete_name,athlete_headshot,athlete_jersey,athlete_position_name,athlete_position_abbreviation,athlete_position_display_name,...,FT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,230210107_11403,230210107,11403,159,Jason Meyer,None,None,Forward,F,Forward,...,None,None,None,None,None,None,None,None,None,None
1,230210107_11401,230210107,11401,159,Patrick Cuttica,None,None,Forward,F,Forward,...,None,None,None,None,None,None,None,None,None,None
2,230210107_11400,230210107,11400,159,Calvin Arnold,None,None,Forward,F,Forward,...,None,None,None,None,None,None,None,None,None,None
3,230210107_6012,230210107,6012,159,Brandon Smith,None,None,Forward,F,Forward,...,None,None,None,None,None,None,None,None,None,None
4,230210107_1473,230210107,1473,159,Tyler Davis,None,None,Forward,F,Forward,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1752852,401818383_5314751,401818383,5314751,233,Vince Buzelis,https://a.espncdn.com/i/headshots/mens-college...,4,Guard,G,Guard,...,None,None,None,None,None,None,None,None,None,None
1752853,401818383_5241619,401818383,5241619,233,Porter Ihnen,https://a.espncdn.com/i/headshots/mens-college...,23,Guard,G,Guard,...,None,None,None,None,None,None,None,None,None,None
1752854,401818383_5177045,401818383,5177045,233,Jalen Hayes,https://a.espncdn.com/i/headshots/mens-college...,25,Guard,G,Guard,...,None,None,None,None,None,None,None,None,None,None
1752855,401818383_5177041,401818383,5177041,233,Shey Eberwein,https://a.espncdn.com/i/headshots/mens-college...,2,Guard,G,Guard,...,None,None,None,None,None,None,None,None,None,None
1752856,401818383_5093266,401818383,5093266,233,Josiah Dotzler,https://a.espncdn.com/i/headshots/mens-college...,13,Guard,G,Guard,...,None,None,None,None,None,None,None,None,None,None